.btn-Change{
    width: 50px;
    height: 10px;
    background-color: blue;
    transition: 0.6s;
}

.btn-Change2 {
    width: 50px;
    height: 10px;
    background-color: green;
    transition: 0.6s;
}

.btn-Change3 {
    width: 50px;
    height: 10px;
    background-color: yellow;
    transition: 0.6s;
}

.btn-Change4 {
    width: 50px;
    height: 10px;
    background-color: cyan;
    transition: 0.6s;
}

.btn-Change5 {
    width: 50px;
    height: 10px;
    background-color: purple;
    transition: 0.6s;
}

.btn-Change6 {
    width: 50px;
    height: 10px;
    background-color: orange;
    transition: 0.6s;
}
